/* 
    Summary

    1. Fonts
    2. Colors
    3. Spacing

*/

/*  ################ 

1. Fonts

################ */

$huge-font: 4rem;
$big-font: 2rem;
$medium-font: 1.5rem;
$tiny-font: 1rem;

/*  ################ 

2. Colors

################ */

$font-color: #755858;
$detail-color: #c8e3c5;
$emphasis-color: #ffc870;
$background-color: #f8f8db;

/*  ################ 

3. Spacing

################ */

$sections-spacing: 1rem 4rem;
